allennlp==2.10.1
annotated-types==0.5.0
autocommand==2.2.2
backports.csv==1.0.7
base58==2.1.1
beautifulsoup4==4.12.2
blis==0.7.10
boto3==1.28.44
botocore==1.31.44
cached-path==1.1.6
cachetools==5.3.1
catalogue==2.0.9
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cheroot==10.0.0
CherryPy==18.8.0
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
confection==0.1.3
cryptography==41.0.3
cymem==2.0.7
dill==0.3.7
docker-pycreds==0.4.0
exceptiongroup==1.1.3
fairscale==0.4.6
feedparser==6.0.10
filelock==3.7.1
future==0.18.3
gitdb==4.0.10
GitPython==3.1.35
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
graphviz==0.20.1
h5py==3.9.0
huggingface-hub==0.10.1
idna==3.4
importlib-resources==6.0.1
inflect==7.0.0
iniconfig==2.0.0
jaraco.collections==4.3.0
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
langcodes==3.3.0
lmdb==1.4.1
lxml==4.9.3
MarkupSafe==2.1.3
more-itertools==10.1.0
murmurhash==1.0.9
mysqlclient==2.2.0
neuralcoref==4.0
nltk==3.8.1
numpy==1.24.4
packaging==23.1
pathtools==0.1.2
pathy==0.10.2
Pattern==3.6
pdfminer.six==20221105
Pillow==10.0.0
pluggy==1.3.0
portend==3.2.0
preshed==3.0.8
promise==2.3
protobuf==3.20.3
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
Pygments==2.16.1
pytest==7.4.2
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
rich==12.6.0
rsa==4.9
s3transfer==0.6.2
sacremoses==0.0.53
scikit-learn==1.3.0
scipy==1.10.1
sentencepiece==0.1.99
sentry-sdk==1.30.0
setproctitle==1.3.2
sgmllib3k==1.0.0
shortuuid==1.0.11
six==1.16.0
smart-open==6.4.0
smmap==5.0.0
soupsieve==2.5
spacy==3.3.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.7
tempora==5.5.0
tensorboardX==2.6.2.2
termcolor==1.1.0
textblob==0.17.1
thinc==8.0.17
threadpoolctl==3.2.0
tokenizers==0.12.1
tomli==2.0.1
torch==1.12.1
torchvision==0.13.1
tqdm==4.66.1
traitlets==5.9.0
transformers==4.20.1
typer==0.4.2
typing_extensions==4.7.1
urllib3==1.26.16
wandb==0.12.21
wasabi==0.10.1
zc.lockfile==3.0.post1
zipp==3.16.2